.technologyBadge {
  transition-property: color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: var(--primary-background-color);
  padding-inline: var(--space-1);
  padding-block: var(--space-0_5);

  @media (hover: hover) {
    &:hover {
      background-color: var(--background-color-hover);
      color: var(--color-hover);
    }
  }
}
