@import 'Base.scss';
@import 'Variables.scss';

$body-width: 1100px;
$content-width: 72%;

.centred-body {
  width: $body-width;
  left: 50%;
  margin-left: calc(-1 * #{$body-width} / 2);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;

  &-background {
    width: 100%;
    background-color: var(--highlight-primary);
  }

  &-group {
    margin-bottom: 50px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    h1 {
      font-size: 80px;
      margin-block-end: 0;
      margin-block-start: 0.1em;
    }
  }

  &-secondary {
    background: var(--highlight-primary-lightened);
    padding: 8px;
    position: relative;
  }
}

.profile-image {
  margin-top: 30px;
  margin-bottom: -50%;
  height: min-content;
  z-index: 1;

  img {
    height: 220px;
    border-radius: 50%;
  }
}

.profile-links {
  top: -10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;

  a {
    margin-left: 20px;
    color: var(--text-primary) !important;
    transition: transform .2s ease;

    &:hover {
      transform: translate3d(0, -0.2em, 0);
    }
  }
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
}

.nav-button {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 22px;
  margin: -5px 0px -5px 50px;

  &::after {
    background-color: var(--text-primary);
  }

  &.btn:hover {
    color: var(--text-primary-hover);
  }
}

.github-link::after {
  background-color: var(--link-colour);
}

// Project Content

.content {
  background-color: var(--primary-background);
  position: relative;
  width: calc(#{$content-width} - 60px);
  z-index: 2;

  &-title {
    color: var(--text-primary);
    font-size: 30px;
    font-weight: bold;
  }

  &-date {
    font-size: 20px;
    float: right;
  }

  &-footer {
    display: flex;
  }
  
  &-link {
    flex: auto;
    display: flex;
    justify-content: right;
    white-space: nowrap;
    align-items: flex-end;
    
    i {
      font-size: 18px;
      padding: 5px;
    }
  }

  &-description {
    margin-bottom: 10px;

    b {
      color: var(--text-primary);
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;

    &.right {
      justify-content: right;
    }

    &.left {
      justify-content: left;
    }
  }

  &-display {
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
  }

  &-sidebar {
    background-color: var(--highlight-primary-lightened);
    position: relative;
    width: calc(105% - #{$content-width} - 60px);
    bottom: -10px;
    z-index: 1;
    padding-right: calc(5% + 30px);
  }
}

.right .content {
  box-shadow: -8px 8px 10px 0px rgba(0, 0, 0, 0.5);

  &-sidebar {
    margin-left: 0 !important;
    margin-right: -5%;
  }
}

.left .content {
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.5);

  &-sidebar {
    margin-left: -5%;
    margin-right: 0 !important;
  }
}

.language-icon {
  margin-right: 5px;
  margin-bottom: 1px;
  margin-top: 2px;
}