@tailwind base;
@tailwind components;
@tailwind utilities;

// Prevent chrome autocomplete changing the background when it's transparent
// From: https://stackoverflow.com/a/62624824/12643981
input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(209, 213, 219);
}

.sent-animation {
  &-enter {
    opacity: 0;
    transform: scale(0.8);

    &-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 300ms, transform 300ms;
    }
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1099px) {
  .container {
    width: 95%;
  }
}
